:root {
  --primary-font: "Roboto", sans-serif;
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --body-background-color: #ffffff;
  --primary-accent-color: #404bbf;
  --secondary-accent-color: #31d0aa;
  --section-bg-color: #f4f4fd;
  --primary-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
address {
  font-style: normal;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--body-background-color);
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.container {
  width: 100%;
  max-width: 320px;
  padding: 16px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    max-width: 1200px;
  }
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

/* ========HEADER=========== */
.page-header {
  margin: auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  color: #4d5ae5;
}
.logo-link .highlight {
  color: #2e2f42;
}
.logo-link .highlight:hover {
  color: var(--primary-accent-color);
}

.page-menu {
  display: flex;
  gap: 40px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.page-menu-link {
  display: inline-block;
  padding: 24px 0;
}
.page-menu-link-aktive {
  display: inline-block;
  padding: 24px 0;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-menu-link-aktive::after {
  content: "";
  width: 100%;
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--primary-accent-color);
  border-radius: 2px;
}

.page-menu-link:hover,
.page-menu-link:focus {
  color: var(--primary-accent-color);
}

.address-list {
  display: flex;
  gap: 40px;
}
.address-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--primary-accent-color);
}

/*=============================HERO=====================*/
.hero-section {
  margin: auto;
  background-color: #2e2f42;
  max-width: 1440px;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg); /* потрібно на контейнер? */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 188px 0;
  color: #ffffff;
}
.hero-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.main-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}
/* Кнопка */

.button {
  min-width: 169px;
  padding: 16px 32px;
  font-weight: 500;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: var(--primary-accent-color);
}

/* =====================SECTION PHILOSOPHY ==============*/
.strategy-section {
  padding: 120px 0;
}

.strategy-list {
  display: flex;
  padding: 0;
  align-items: center;
  gap: 24px;
}

.strategy-list-item {
  gap: 24px;
  width: calc((100% - 72px) / 4);
}
.strategy-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: var(--section-bg-color);
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}
.strategy-list-title {
  margin-bottom: 8px;
  margin-top: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.strategy-list-text {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

/*========================TEAM SECTION===================*/
.team-section {
  margin: auto;
  padding: 120px 0;
  background-color: var(--section-bg-color);
}

.team-section .container {
  display: flex;
  flex-direction: column;
}

.ul_section_team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
.name-vacation {
  text-align: center;
  padding: 32px 0;
}
.cards {
  background-color: #ffffff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.people-name {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
  font-size: 20px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 8px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--primary-accent-color);
}
.social-list-icon {
  fill: var(--section-bg-color);
}

/* =======================SECTION PORTFOLIO=============*/
.portfolio {
  padding-bottom: 120px;
  margin: auto;
  padding-top: 120px;
}
.portfolio-list {
  flex-wrap: wrap;
  list-style: none;
  column-gap: 24px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
  display: flex;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li:nth-child(3n) {
  margin-right: 0;
}

.portfolio-list li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-list-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-of-item {
  padding: 32px 16px;
  flex-direction: column;
  text-align: start;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
}
.img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  color: var(--section-bg-color);
  padding: 40px 32px;
  overflow: auto;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.portfolio-list-item:hover .overlay {
  transform: translateY(0%);
}

/* =======================FOOTER=======================*/

.page-footer {
  background-color: #2e2f42;
  margin: auto;
  padding: 100px 0;
}
.page-footer .container {
  display: flex;
  align-items: baseline;
}
.footer-left {
  margin-right: 120px;
}
.footer-right {
  margin-right: 80px;
}
.footer-form {
  margin-left: auto;
}

.logo_linkblue {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.17;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

.footertext {
  max-width: 289px;
  color: #ffffff;
  margin-right: auto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a.logo_linkblue {
  text-decoration: none;
}
.white {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: #f4f4fd;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.no-hover {
  color: inherit;
}
.white:hover {
  color: #404bbf;
}

.footer-right .footertext {
  margin-bottom: 16px;
}
.footer-social-link {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link .social-list-icon {
  width: 24;
  height: 24;
}

.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.footer-form-subscribe {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.label-footer {
  display: block;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  min-width: 165px;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--primary-accent-color);
}
.footer-form .footertext {
  margin-bottom: 16px;
}
.footer-icon {
  margin-left: 16px;
}
/*back-drop*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 0;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: rgba(231, 233, 252, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}
.modal-slogan {
  width: 360px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.form-field {
  margin-bottom: 8px;
  opacity: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field-comment {
  margin-bottom: 16px;
  opacity: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-wrapper {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color var(--primary-transition);
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: none;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  transition: border-color var(--primary-transition);
}
.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 4%;
}
.form-textarea:focus {
  border-color: #4d5ae5;
}
.form-input:focus {
  border-color: #4d5ae5;
}

/*CHECKBOX*/

.form-checkbox {
  margin-bottom: 24px;
}
.form-checkbox-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.custom-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  margin-right: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox-input:checked + .form-checkbox-label .custom-checkbox {
  background-color: var(--primary-accent-color);
  border: none;
  fill: #f4f4fd;
}

.privacy-link {
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  margin-bottom: 24px;
}
.privacy-link:hover,
.privacy-link:focus {
  color: #404bbf;
}

.form-checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background-color: var(--primary-accent-color);
}
